# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
backend/uploads/temp_1757619989.840445_Static.AI_VDT.StaticFileResourceHandle.pdf
backend/uploads/temp_1757619996.203879_Static.AI_VDT.StaticFileResourceHandle.pdf
backend/certificates/Fees_Receipt_1.pdf
create_favicon.js
generate_favicon.html
